.App {
  text-align: center;
}
body{
  background-image: url(https://images.unsplash.com/photo-1496167117681-944f702be1f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80);
}
.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App   ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  background-color: #333;
}

.App ol li {
  margin-left: auto;
  margin-right: auto;
 display: inline-block;
 overflow-x: auto;
}

.App ol li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.App ol li a:hover {
  background-color: #111;
}
.homeButton{
  margin-left:auto ;
  margin-right: auto;
  width:55%;
}

.paper{
 width: 500px;
  margin-left:auto ;
  margin-right: auto;
  padding: 50px;
}
.homeButton{
  padding: 30px;
}
.MuiPaper-root {
  margin-top: 30px;
  width: 600px;
  margin-left:auto ;
  margin-right: auto;
}
.comments{
  width: 200px;
}
.navBar{
  width: 100%;
}
.selectResponse{
  width:100%;
}
.MuiSelect-root{
  border: outline black 1 px;
}