.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App   ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.App ol li {
  margin-left: auto;
  margin-right: auto;
 display: inline-block;
}

.App ol li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.App ol li a:hover {
  background-color: #111;
}

.paper{
 width: 500px;
  margin-left:auto ;
  margin-right: auto;
  padding: 50px;
}
.homeButton{
  padding: 30px;
}
.MuiPaper-root {
  margin-top: 30px;
  width: 600px;
  margin-left:auto ;
  margin-right: auto;
}
.comments{
  width: 200px;
}